@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<section id="banner" data-video="images/banner">
    <div class="inner">
        <h1>Transitive</h1>
        <p>
            A full responsive, business-oriented HTML5/CSS3 template<br />
            built by <a href="https://templated.co/">Templated</a> and released under the <a href="https://templated.co/license">Creative Commons</a>.
        </p>
        <a href="#one" class="button special scrolly">Get Started</a>
    </div>
</section>

<!-- One -->
<section id="one" class="wrapper style2">
    <div class="center">
        <div>
            <div class="box">
                <div class="image fit">
                    <img src="images/pic01.jpg" alt="" />
                </div>
                <div class="content">
                    <header class="align-center">
                        <h2>Lorem ipsum dolor</h2>
                        <p>maecenas feugiat ex purus, quis volutpat lacus placerat</p>
                    </header>
                    <hr />
                    <p> Cras aliquet urna ut sapien tincidunt, quis malesuada elit facilisis. Vestibulum sit amet tortor velit. Nam elementum nibh a libero pharetra elementum. Maecenas feugiat ex purus, quis volutpat lacus placerat malesuada. Praesent in sem ex. Morbi mattis sapien pretium tellus venenatis, at egestas urna ornare.</p>
                    <p>Vivamus fermentum nibh vel pharetra blandit. Cras a purus urna. Sed et libero ex. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse id hendrerit felis. Nulla viverra tempor dui at congue. Pellentesque quis nulla ornare, congue nisi id, finibus nulla. Aliquam sit amet hendrerit purus. Donec libero massa, posuere fermentum eros sit amet, maximus fringilla augue. Maecenas at rhoncus lorem. Vivamus ultricies consequat est, efficitur convallis libero. Vivamus rutrum semper mauris, vitae consequat eros tempor ac. Pellentesque et ornare sapien</p>
                </div>
            </div>
        </div>
    </div>
</section>

